* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Рекомендуется для управления размерами элементов */
}

button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}

input {
    appearance: none; /* Убирает стандартные стили элемента */
    border: none; /* Убирает границу */
    outline: none; /* Убирает обводку при фокусе */
    background: transparent; /* Прозрачный фон */
    font-family: inherit; /* Наследует шрифт от родительского элемента */
    font-size: inherit; /* Наследует размер шрифта от родительского элемента */
    padding: 0; /* Убирает отступы */
}

a {
    appearance: none; /* Убирает стандартные стили элемента */
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет от родительского элемента */
    font-family: inherit; /* Наследует шрифт от родительского элемента */
    font-size: inherit; /* Наследует размер шрифта от родительского элемента */
    padding: 0; /* Убирает отступы */
}

select {
    appearance: none; /* Убирает стандартные стили элемента */
    background: #fff; /* Наследует цвет от родительского элемента */
    border: 1px solid #ccc; /* Наследует границу от родительского элемента */
    border-radius: 4px; /* Наследует радиус углов от родительского элемента */
    padding: 8px; /* Наследует отступы от родительского элемента */
    font-family: inherit; /* Наследует шрифт от родительского элемента */
    font-size: inherit; /* Наследует размер шрифта от родительского элемента */
    outline: none;
}