.button {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        transform: scale(95%);
        opacity: 0.8;
    }
}

.outline {
    background-color: rgb(32, 32, 32);
    color: rgb(172, 165, 165);
}


