.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input {
    border: 1px solid rgb(208, 201, 201);
    border-radius: 4px;
    padding: 5px;

    &:focus {
        border: 1px solid rgb(119, 111, 111);
    }
}

.error {
    border: 1px solid rgb(164, 36, 36);
}

.errorText {
    color: rgb(164, 36, 36);
}